.formLabel {
    color: white;
    margin-right: 10px;
}
form {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    margin-left:25%;
    margin-right: 25%;
    color: white;
}