.formLabel {
    color: black;
    margin-right: 10px;
}
form {
    display: flex;
    flex-direction: column;
    width: 35%;
    justify-content: center;
    margin-left:32.5%;
    margin-right: 32.5%;
    color: white;
}

.classForm{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.studentSearch{
    width: 54.8%;
    margin-left: 7px;
}

Table{
    background-color: white;
}

.studentImage{
    width: 200px;
    height: 200px;
}



