#currentCourse{
    width: 90%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;

}

#locationImage{
    height: 100px;
}

span{
    color: white;
}